body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
}
h2{

}
.delivery-detail-wrapper {
    padding: 22px 15px 10px;
}
.delivery-detail-wrapper .delivery-main-title {
    margin: 0 0 17px;
    font-size: 24px;
    color: #000000;
}
.delivery-detail-wrapper .delivery-sub-title {
    margin: 0 0 15px;
    font-size: 20px;
    color: #75333c;
}
.delivery-detail-wrapper .delivery-sb-title-desc {
    margin: 0 0 20px;
    font-size: 14px;
}
.delivery-detail-wrapper ul {
    padding: 0;
    margin: 0;
}
.delivery-detail-wrapper ul li {
    list-style: none;
    padding-left: 15px;
    margin-bottom: 14px;
    font-size: 14px;
    position: relative;
}
.delivery-detail-wrapper ul li:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: #b2939a;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 5px;
}

.lang-ar {
    direction: rtl;
    text-align: right;
}
.lang-ar .delivery-detail-wrapper ul li {
    padding-left: 0;
    padding-right: 15px;
}
.lang-ar .delivery-detail-wrapper ul li:before{
    left: auto;
    right: 0;
}