﻿<section id="wrapper" dir="rtl">
    <div id="inner-wrapper" class="container">
        <div id="content-wrapper">
            <section id="main"><header class="page-header"><header class="page-header">
                <h1 class="h1 page-title" style="text-align: right;"><span style="color: #993300;">الشروط والأحكام</span></h1>
            </header>
                <section id="content" class="page-content page-cms page-cms-15">
                    <div id="elementor" class="elementor">
                        <div id="elementor-inner">
                            <div id="elementor-section-wrap">
                                <div class="elementor-section elementor-element elementor-element-lr4mqb3 elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" user-element_type="section">
                                    <div class="elementor-container elementor-column-gap-default">
                                        <div class="elementor-row">
                                            <div class="elementor-column elementor-element elementor-element-9swwx1z elementor-col-100 elementor-top-column" user-element_type="column">
                                                <div class="elementor-column-wrap elementor-element-populated">
                                                    <div class="elementor-widget-wrap">
                                                        <div class="elementor-widget elementor-element elementor-element-h5cmbur elementor-widget-text-editor" user-element_type="text-editor">
                                                            <div class="elementor-widget-container">
                                                                <div class="elementor-text-editor rte-content">
                                                                    <ul style="list-style-type: circle;">
                                                                        <li style="text-align: right;">تستمر عروض الجمعة البيضاء حتى نهاية يوم الجمعة 29 نوفمبر 2019.</li>
                                                                        <li style="text-align: right;">لن يتم قبول أي طلب عند إضافة المنتجات للسلة دون إتمام عملية الشراء أثناء المدة المحددة للعروض, عدم إتمامك لعملية الطلب بالوقت المحدد للعروض سيمنعك الاستفادة من التخفيضات.</li>
                                                                        <li style="text-align: right;">العروض اليومية سارية حتى نهاية اليوم، وحتى نفاذ الكمية، ولا يمكن تطبيق عروض أخرى عليها.</li>
                                                                        <li style="text-align: right;">يحق لموظفي خدمة العملاء إلغاء أي طلب إذا لم تتوافر به الشروط والأحكام.</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </header></section>
        </div>
    </div>
</section>