<header class="page-header">
    <h1 class="h1 page-title"><span style="color: #993300;">White Friday Terms &amp; Conditions</span></h1>
</header>
<section id="content" class="page-content page-cms page-cms-15">
    <div id="elementor" class="elementor">
        <div id="elementor-inner">
            <div id="elementor-section-wrap">
                <div class="elementor-section elementor-element elementor-element-zbhg6p2 elementor-top-section elementor-section-boxed elementor-section-height-default elementor-section-height-default" user-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-element elementor-element-2equzcv elementor-col-100 elementor-top-column" user-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-widget elementor-element elementor-element-jctwgdm elementor-widget-text-editor" user-element_type="text-editor">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor rte-content">
                                                    <ul>
                                                        <li>The White Friday Campaign will expire by end of the 29th of Nov 2019.</li>
                                                        <li>Adding products to your cart does not qualify as an order. Failing to place your order before the expiry of the White Friday campaign will deny you the opportunity to take advantage of the discounts.</li>
                                                        <li>Daily Deals are limited by time and quantity and may not be combined with any other discounts.</li>
                                                        <li>Qavashop&rsquo;s Customer Service Team reserves the right to cancel any order that contradicts the terms and conditions mentioned above.</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>